body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    background-color: black;
}

textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid #000000;
    padding: 10px;
}

.jumbotron {
    background-color: #091534;
    text-align: center;
    color: #DBE5FF;
    border-radius: 0;
    border-bottom: 10px solid #000000;
}

.description {
    white-space: pre-wrap;
}

.time-block {
    border-radius: 15px;
}

.row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
}

.hour {
    background-color: #293C70;
    color: #DBE5FF;
    border-top: 1px solid #000000;
}

.past {
    background-color: #d3d3d3;
    color: black;
    text-decoration: line-through;
}

.present {
    background-color: lightgreen;
    color: black;
    font-weight: bolder;
}

.future {
    background-color: white;
    color: black;
}

.saveBtn {
    border: 1px solid black;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #293C70;
    cursor: arrow;
}

.saveBtn i:hover {
    cursor: pointer;
}

.saveBtn i {
    color: #DBE5FF;
}

#btn-clear {
    background-color: #DBE5FF;
}